<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="">
	
	<label>Enter ID : </label>
		<input type="text" placeholder="Enter Product Id ">
		<br>
		<label>Enter Name : </label>
		<input type="text" placeholder="Enter Product Name ">
		<br>
		<label>Enter Price : </label>
		<input type="text" placeholder="Enter Product Price ">
		<br>
		<label>Enter Qty : </label>
		<input type="text" placeholder="Enter Product Qty ">
		<br>
		<label>Enter Image : </label>
		<input type="file" >
		
		<input type="submit" value="saveProduct">
		
		
	</form>
</body>
</html>